---
import { cn } from "@lib/utils";

type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
  group?: boolean;
};

const {
  href,
  external,
  underline = true,
  group = false,
  ...rest
} = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  class={cn(
    "inline-block text-current transition-colors duration-300 ease-in-out",
    "decoration-blue-500/40 dark:decoration-purple-400/40",
    "hover:decoration-blue-600/70 dark:hover:decoration-purple-400/70",
    "hover:text-blue-600 dark:hover:text-purple-400",
    "focus-visible:decoration-blue-600 dark:focus-visible:decoration-purple-400",
    "focus-visible:text-blue-600 dark:focus-visible:text-purple-400",
    underline && "underline underline-offset-4 decoration-2",
    group && "group"
  )}
  {...rest}
>
  <slot />
</a>
